asgiref==3.7.2
autopep8==2.0.2
certifi==2022.12.7
charset-normalizer==3.1.0
distlib==0.3.6
Django==4.2.3
ffmpeg-python==0.2.0
filelock==3.10.0
future==0.18.3
idna==3.4
Jinja2==3.1.2
llvmlite==0.40.0
MarkupSafe==2.1.2
more-itertools==9.1.0
mpmath==1.3.0
networkx==3.1
numba==0.57.0
numpy==1.24.3
openai-whisper==20230314
pbr==5.11.1
platformdirs==3.1.1
protobuf==4.21.12
pycodestyle==2.10.0
regex==2023.5.4
requests==2.29.0
sqlparse==0.4.4
stevedore==5.0.0
sympy==1.11.1
tiktoken==0.3.1
torch==2.0.0
tqdm==4.65.0
typing_extensions==4.5.0
urllib3==1.26.15
virtualenv==20.21.0
virtualenv-clone==0.5.7
virtualenvwrapper==4.8.4
